table{
    table-layout: fixed;
    width: 100%;  
}



.feature{
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
.feature img{
    max-width:100%;
  max-height: 100%;
  display:block;
  margin-left: auto;
  margin-right:auto;
}
.description{
    text-align: left;
    padding: 10px 20px;
  }
.subimage img{
    
    max-width:100%;
    grid-template-columns :repeat(auto-fit,minmax(400px,1fr));
}
.subimage p{
    
    font-size:large;
}
.description p{
    font-size:large;
}

#homepageLink{
    font-size: large;
}
@media(max-width:700px){
    
    tr{
        display:grid;
    }
    th >div{
        
        grid-template-columns: repeat(auto-fit, minmax(60%, 60%));
        margin-left:auto;
        margin-right:auto;
        width: 60%;
    }
}